html, 
body {
    box-sizing: border-box;
}
* {
    margin: 0;
    padding: 0;
}

#app {
    display: flex;
    min-height: 100vh;
    margin: auto;
    max-width: 1000px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#schedule {
    display: flex;
    width: 100%;
    margin: auto;
}

.table {
    margin: auto;
    border-collapse: collapse;
}

td {
    width: 140px;
    height: 50px;
    text-align: center;
    background: #ebe6e6;
    border: 1px solid rgb(52, 50, 50);
}

.table__title {
    font-weight: bold;
    background: #555;
    color: #fff;
}

.table__event {
    max-width: 100%;
    height: 36px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 7px;
    background: rgb(4 95 255 / 51%);
    overflow-y: auto;
}
.table__event span {
   cursor: pointer;
}
.table__event span:hover, 
.table__event span:focus {
    color: #ac0909;
}

select,
input {
    width: 150px;
    height: 40px;
    border: 2px solid #e14f00;
    border-radius: 5px;
    outline: transparent;
    cursor: pointer;
    justify-self: end;
}
#select-user:hover,
#select-user:focus {
    border: 2px solid #ac0909;
}
.main-btn {
    min-width: 165px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
    border-radius: 5px;
    background: #75a1f3;
    border: none;
    cursor: pointer;
    transition: 0.2s;
    outline: transparent;
    color: #000;
}

.main-btn_secondary {
    background: #ebe6e6;
}
.main-btn span {
    margin-right: 10px;
}
.main-btn:hover,
.main-btn:focus {
    background: #e14f00;
    color: #fff;
}
.main-btn:hover *,
.main-btn:focus * {
    color: #fff;
    fill: #fff;
}

.title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0,0,0,0.6);
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-container {
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    background: #fff;
    border-radius: 5px;
}

.modal-container select,
.modal-container h2 {
    width: 70%;
    margin-bottom: 25px;
    text-align: center;
}

.modal__buttons {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.modal button {
    font-weight: bold;
}
