@import "variables";

.container {
  width: 100%;
  padding: 15px;
  overflow: hidden;
}

.title {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  max-width: 840px;
  margin: auto;

  @media(min-width: 768px) {
    flex-direction: row;
  }

  h1 {
    color: $accent;
  }

  h1,
  button {
    margin-bottom: 15px;

    @media(min-width: 768px) {
      margin-bottom: 0;
    }
  }
}

#schedule {
  display: flex;
  width: 100%;
  margin: auto;
  overflow: auto;

  @media(min-width: 992px) {
    width: auto;
  }
}

select,
input {
  width: 150px;
  height: 40px;
  border: 2px solid $active;
  border-radius: 5px;
  outline: transparent;
  cursor: pointer;
  justify-self: end;

  &:hover {
    border: 2px solid #ac0909;
  }

  &::placeholder {
    transition: 0.2s ease-in-out;
  }

  &:hover {
    &::placeholder {
      opacity: 0;
    }
  }
}

.main-btn {
  min-width: 165px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
  border-radius: 5px;
  background: #75a1f3;
  border: none;
  cursor: pointer;
  transition: 0.2s;
  outline: transparent;
  color: #000;

  &_secondary {
    background: #ebe6e6;
  }

  &:hover,
  &:focus {
    background: $active;
    color: $accent;

    * {
      color: $accent;
      fill: $accent;
    }
  }

  span {
    margin-right: 10px;
  }
}